<div id="hidden-post-processing-bullet" class="snippet-explanation-title" style="width: 100%; padding-left:0px;">
  <h3>Mapping and patching </h3>
  <p>Take a look into the <a href="/tutorials/MappingAndPatching.html">Mapping and patching</a> tutorial to learn how to map the surface of a population of vessels onto the same parametric space and enable statistical analyses of surface-based quantities</p>
</div>

<figure class="code bullet-description1" style="margin-top: 20px; width:100%;">
  <pre><code>// Longitudinal and circumferential metrics
vmtkbranchmetrics -ifile aorta_clipped.vtp -centerlinesfile aorta_cl.vtp -abscissasarray Abscissas -normalsarray ParallelTransportNormals -groupidsarray GroupIds -centerlineidsarray CenterlineIds -tractidsarray TractIds -blankingarray Blanking -radiusarray MaximumInscribedSphereRadius -ofile aorta_clipped_metrics.vtp
//Metrics mapping to branches
vmtkbranchmapping -ifile aorta_clipped_metrics.vtp -centerlinesfile aorta_cl.vtp -referencesystemsfile aorta_cl_rs.vtp -normalsarray ParallelTransportNormals -abscissasarray Abscissas -groupidsarray GroupIds -centerlineidsarray CenterlineIds -tractidsarray TractIds -referencesystemsnormalarray Normal -radiusarray MaximumInscribedSphereRadius -blankingarray Blanking -angularmetricarray AngularMetric -abscissametricarray AbscissaMetric -ofile aorta_clipped_mapping.vtp
//Patching of surface mesh and attributes
vmtkbranchpatching -ifile aorta_clipped_mapping.vtp -groupidsarray GroupIds -longitudinalmappingarray StretchedMapping -circularmappingarray AngularMetric -longitudinalpatchsize 0.5 -circularpatches 12 -ofile aorta_clipped_patching.vtp</code></pre>
</figure>

<div class="hidden-bullet-wrapper" style="width: 500px">

<figure class="code bullet-description2" style="margin-top: 10px;">
   <img alt="Figure 1" src="/resources/img/home_mappatch.png" />
</figure>
</div>

<div class="snippet-explanation" style="width: 370px;">

<p>A common application is <code>mapping and patching</code> of fluid dynamics variables, 
such as wall shear stress <code>(WSS)</code> or oscillatory shear index <code>(OSI)</code>, obtained 
on the surface mesh typically by means of a CFD simulation.</br>
By construction of a harmonic function over each vascular segment, 
vmtkbranchmapping maps and stretches the longitudinal metric to correctly 
account for the presence of insertion regions at <code>bifurcations</code>; the additional 
StretchedMapping array is added to the surface.
</p>

</div>
