<ul class="nav">
  <li><a href="{{ site.baseurl }}/documentation/">Documentation</a></li>
  <li><a href="{{ site.baseurl }}/download/">Download</a></li>
  <li><a href="{{ site.baseurl }}/documentation/installation.html">Installation</a></li>
  <li><a href="{{ site.baseurl }}/tutorials/">Tutorials</a></li>
  <li><a href="{{ site.baseurl }}/community/">Community</a></li>
  
  <li id="source-code" >
    <a href="https://github.com/vmtk/vmtk.git" target="_blank"><img src="{{ site.baseurl }}/resources/img/github-logo.png" alt="GitHub Logo" /></a>
    <div class="toptip">Source Code</div>
  </li>
  <li id="orobix-twitter">
    <a href="http://twitter.com/orobix" target="_blank"><img src="{{ site.baseurl }}/resources/img/twitter-logo-white.png" alt="Twitter Logo" /></a>
    <div class="toptip">Orobix on Twitter</div>
  </li>
</ul>
