---
layout: default
---

{% include headertop.html %}
{% include headerbottom.html %}

<div class="splash">
  <div class="darkblue-overlay">&nbsp;</div>
  <div class="container">
    <div class="row">
      <div class="span12">
        <div id="vmtkmaintitle" class="vmtk-logo">
          <a href="/index.html">vmtk</a>
        </div>
        {% include navbar.html %}
      </div>
    </div>
    <div class="row">
      <div class="span12">
        <div class="splash-text ontop">
          <h2 style="font-weight: 700;">The Vascular Modeling Toolkit</h2>
          <p class="click">Supported by <a href="http://www.orobix.com" target="_blank">Orobix srl</a></p>
          <p class="splash-pitch">
            vmtk is a collection of libraries and tools for
            3D reconstruction, geometric analysis, mesh generation
            and surface data analysis for image-based modeling of blood vessels.
          </p>
          <a class="learn-more-btn" href="{{ site.baseurl }}/what-is-vmtk.html">Learn More</a>
          <a href="/news/2014/01/24/vmtk-1.2-released.html"><div class="new-vmtk-version"><h2 style="font-weight: 400;">vmtk 1.2 released!</h2></div></a>
          <a href="/news/2014/12/22/vmtklab-1.0.0-released.html"><div class="homepage-announcements"><h2 style="font-weight: 400;">VMTKLab 1.0.0 released!</h2></div></a>
        </div>
      </div>
    </div>
  </div>
</div>

 <div class="bullet-point-box">
  <div class="bullet-row-1-wrap">
    <div class="container">

      <div class="row">
        <div class="span4 bullet-point" id="segmentation">
          <h3>Segmentation</h3>
          <p>Segmentation of vascular segments (or other anatomical structures) from medical images</p>
        </div>
        <div class="span4 bullet-point" id="centerlines">
          <h3>Centerlines</h3>
          <p>Compute centerlines and maximal inscribed sphere radius of branching tubular structures given their polygonal surface representation</p>
        </div>
        <div class="span4 bullet-point" id="geometric-analysis">
          <h3>Geometric analysis</h3>
          <p>Geometric analysis and surface data processing of 3D models of blood vessels</p>
        </div>
      </div>

      <div class="code-snippet-arrow"></div>
    </div>
  </div>

  <div id="code-snippet-row1">
    <div class="container">
      <div class="row">
      </div>
    </div>
  </div>

  <div class="bullet-row-2-wrap">
    <div class="container">
      <div class="row">
        <div class="span4 bullet-point" id="mesh">
          <h3>Mesh generation</h3>
          <p>Surface remeshing, volume meshing and generation of boundary layers of prismatic elements with varying thickness for Computational Fluid Dynamics.</p>
        </div>
        <div class="span4 bullet-point" id="post-processing">
          <h3>Post processing</h3>
          <p>Mapping and patching of fluid dynamics variables, particle tracing and more...</p>
        </div>
        <div class="span4 bullet-point" id="pypes">
          <h3>Pyping system</h3>
          <p>PypeS is the glue among vmtk scripts. It allows new scripts to be written easily, to have a common interface and to interact with each other.</p>
        </div>
      </div>
      <div class="code-snippet-arrow"></div>

    </div>
  </div>

  <div id="code-snippet-row2">
    <div class="container">
      <div class="row">
      </div>
    </div>
  </div>

  <div class="where-to-learn-more">
    <div class="container">
      <div class="row">
        <div class="span12">
          <a class="learn-more-btn" href="{{ site.baseurl }}/what-is-vmtk.html">Learn More</a>
          <p>or visit the <a class="italicize" href="{{ site.baseurl }}/documentation">vmtk Documentation</a></p>
        </div>
      </div>
    </div>
  </div>

  <div id="bunjee">
    <div class="container">
      <div class="row">
        <div class="span12 bullet-point" style="height:100%;">
        <h2><span style="background-color:#151A2F">Support and consulting</span></h2>
        <p class="click">&nbsp;Custom development and training courses&nbsp;</p>

        <div class="row">
          <div id="bunjee-image-left" class="span4">
            <a href="http://www.orobix.com" target="_blank"><img src="/resources/img/orobix-logo-white.png" alt="Orobix logo" /></a>
	      </div>

	      <div id="bunjee-text-right" class="span8">
		    <p>Need to develop problem-specific algorithms, custom pipelines or dedicated user interfaces?<br/></p>
		    <p><a href="http://www.orobix.com" target="_blank">Orobix srl</a> offers professional support around (but not limited to): <br/>
		       <div class="row">
                <div class="span4">
                  <ul>
                    <li>automated image segmentation</li>
                    <li>geometric characterization</li>
                    <li>mesh generation</li>
                    <li>computational hemodynamics</li>
                  </ul>
                </div>
                <div class="span4">
                  <ul>
                    <li>post processing</li>
                    <li>visualization</li>
                    <li>machine learning</li>
                    <li>data engineering</li>
                  </ul>
                </div>
              </div>
            </p>
          </div>



	  </div>
    </div>
    <div class="where-to-learn-more">
    <div class="container">
      <div class="row">
        <div class="span12">

          <a class="learn-more-btn" href="mailto:info@orobix.com">Contact us</a>
          <p>or visit the <a class="italicize" href="http://www.orobix.com" target="_blank">Orobix website</a></p>

          <!--<a class="learn-more-btn" href="http://vmtk.herokuapp.com" target="_blank">Try vmtk on Bunjee</a>
          <p>or visit the <a class="italicize" href="#bunjee">Bunjee website</a></p>-->


        </div>
      </div>
    </div>
  </div>
    </div>
    </div>
   </div>
 </div>
</div>

<!-- hidden code-snippet content -->
<div id="hidden-segmentation">{% include bullet-level-set-segmentation.html %}</div>
<div id="hidden-centerlines">{% include bullet-centerlines.html %}</div>
<div id="hidden-geometric-analysis">{% include bullet-geometric-analysis.html %}</div>
<div id="hidden-mesh">{% include bullet-mesh.html %}</div>
<div id="hidden-post-processing">{% include bullet-post-processing.html %}</div>
<div id="hidden-pypes">{% include bullet-pypes.html %}</div>


<div id="important_news" class="news">
  <div class="container">
    <div class="row">
      <div class="span12">
      </div>
    </div>
    <div class="row">
      {% include news.html %}
    </div>
  </div>
</div>


<div class="picture-box">
  <div class="container">
  </div>
</div>

{% include footer.html %}
